.comment-button {
  width: 61px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  background: #777777;
  z-index: 99;
}

.comment-image {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}